<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Blog</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <h1>Welcome to My Personal Blog!</h1>
  <p>This is my first end to end website!</p>
  <form id="subscribeForm">
    <label for="email">Subscribe to my newsletter:</label><br>
    <input type="email" id="email" name="email" required>
    <input type="submit" value="Subscribe">
  </form>
  <script>
    document.getElementById('subscribeForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const email = document.getElementById('email').value;
      fetch('/subscribe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          email: email
        })
      }).then(response => {
        if (response.ok) {
          window.locaiton.href = '/';
        } else {
          alert('Subscrpion failed');
        }
      });
    });
  </script>
</body>

</html>